@import "tailwindcss";

@theme {
    --color-primary:#0f0f11; /* Your custom primary color */
    --color-secondary: #500F1C; /* Your secondary color, if needed */
    --color-accent: #B0B4BA; /* Your accent color */
  }

@layer base {
    body {
        background-color: var(--color-primary);
        color: var(--color-accent);
        font-family: 'Inter', sans-serif;
    }
}