@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary:#0f0f11; 
    --color-secondary: #F76B15; 
    --color-accent: #B0B4BA;
    --color-primary-light:#EDEEF0; 

  }

@layer base {
    body {
        background-color: var(--color-primary);
        color: var(--color-accent);
        font-family: 'Inter', sans-serif;
    }
}

/* #500F1C */